@charset "utf-8";

html{
    font-size : 62.5%;
  }
  body{
    font-size : 1.2rem;
    font-family : "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    text-align : center;
  }
  *,*::before,*::after{
    box-sizing : border-box;
  }
  a:link,a:visited,a:hover,a:active{
    color : #d03c56;
    text-decoration : none;
  }
  
a:link,a:visited,a:hover,a:active{
    color : #d03c56;
    text-decoration : none;
}
.heading{
    display : inline-block;
    font-size : 3rem;
    margin : 10px auto;
    letter-spacing : 1px;
}

.border{
    padding : 8px;
     border : 1px solid gray;
     border-radius : 15px;
     box-shadow : 0px 0px 5px -1px rgba(0,0,0,0.3);
}

/* -------------
 * header
 * -------------*/
.top{
    padding : 170px 30px 170px;
    background : linear-gradient(45deg, rgb(110, 119, 224),rgb(175, 220, 238))
}
.site-title-sub{
    margin : 0 0 30px;
    letter-spacing : 1px;
    font-size : 3rem;
}
.site-title-sub::before,.site-title-sub::after{
    content : "";
    display : inline-block;
    vertical-align : middle;
    margin : 0 20px;
    transform : rotate(45deg);
}
.site-title{
    margin : 50px 0 40px;
    font-size : 5rem;
}

/* -------------------
 * global-navigation
 * -------------------*/
.global-nav{
    /*position : fixed;*/
    text-align : center;
    width : 100%;
    height : 50px;
    line-height : 50px;
    background-color : #444;
}
.global-nav .nav-item{
    display : inline-block;
    width : 20%;
    height : 50px;
}
.global-nav .nav-item a{
    display : block;
    /*width : 50px;*/
    color : #fff;
    text-decoration : none;
    letter-spacing : 1px;
}
.global-nav .nav-item a:hover{
    color : rgba(255,255,255,0.8);
}

/* --------------------------
 * about introduce my profile
 * --------------------------*/
.about{
    padding : 50px 0;
}
.text-wrapper{
    margin : 20px 30px;
}
.about-text tr{
    font-size : 2vw;
    line-height : 50px;
}
.about-text tr th{
    text-align : right;
    width : 33%;
    padding : 10px 30px 10px 0;
}
.about-text tr td{
    text-align : left;
    width : 66%;
    padding : 10px 0;
}

/* ----------------------
 * skills
 * ----------------------*/
 .skills{
     padding : 50px 0;
     background-color : #f2f2f2;
 }
 .skills-wrapper{
     width : 100%;
     margin : 50px 0px;
     display : table;
     border-spacing : 20px 5px;
     table-layout : fixed;
 }
 .skill-box{
    background-color : #fff;
     display : table-cell;
     margin : 20px;
 }
 .skill-title{
     display : inline-block;
     font-size : 1.3rem;
     margin : 15px auto 15px;
     letter-spacing : 1px;
 }
 .skill-text{
     line-height : 1.5;
     font-size : 1.2rem;
     text-align : left;
 }
 
 /* ----------------------
  * works
  * ----------------------*/
  .works{
      padding : 50px 0;
  }
  .work-box{
      display : flex;
      justify-content : space-between;
      /*width : 40%;*/
      margin : 10px 30px 10px;
      padding : 40px;
  }
  .work-image{
      width : 45%;
      height : 100%;
  }
  .work-introduce{
      width : 45%;
      text-align : left;
  }
  .work-title{
      display : block;
      height : 30%;
      font-size : 3vw;
      line-height : 3vw;
      text-decoration : underline;
  }
  .work-explaination{
      height : 70%;
      font-size : 2vw;
      line-height : 2.5vw;
  }

  /* ----------------------
   * footer
   * ----------------------*/
.footer{
    width : 100%;
    padding : 12px 0;
    font-size : 1.3rem;
    background-color : rgba(0,0,0,0.6);
    color : #fff;
}

/* ------------------------
 * media query
 * ------------------------*/
 @media (max-width : 768px)
 {
    .top{
        padding : 60px 30px 100px;
    }
    .site-title-sub{
        font-size : 1.2rem;
    }
    .site-title{
        font-size : 3rem;
    }

    .about-text tr{
        font-size : 4vw;
        line-height : 30px;
    }

    .skill-box{
        display : block;
    }

    .work-box{
        display : block;
        padding : 20px;
    }
    .work-image{
        width : 100%;
    }
    .work-introduce{
        width : 100%;
    }
    .work-title{
        margin : 20px 0;
        font-size : 1.2rem;
        line-height : 1.2em;
    }
    .work-explaination{
        font-size : 0.8rem;
        line-height : 1rem;
    }
 }

